<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- 定义片段，可以配合th:replace完成导入JS/CSS等 -->
<div th:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</div>

<!-- 定义片段，可以配合th:replace完成导入 -->
<div th:fragment="doge">
    <marquee><p style="font-size: 100px">Hello Thymeleaf</p>
        <img th:src="@{/img/doge.gif}"/>
    </marquee>
</div>

<!-- 定义片段，可以配合th:replace完成导入 -->
<div th:fragment="styles">
    <link rel="stylesheet" th:href="@{/dist/jquery.validator.css}"/>
    <link rel="stylesheet" th:href="@{/layui/layui.css}"/>
</div>


</body>
</html>